<style type="text/css">
		.pointer       { cursor: pointer; }

		body{
			font-family: cursive;
			padding: 0px;
			margin: 0px;

		}

		#logo{
			color: lightyellow;
			float: left;
			font-family: 'Archivo Black', sans-serif;
			font-weight: bold;
			font-size:  180%;
			padding: 3px 5px;
		}

		#header{
			width: 100%;
			height: 50px;
			background-color: black;
			padding: 5px;
			color: white;
		}

		#buttonContainer{
			width: 295px;
			margin: 0 auto;
			padding: 5px 5px;

		}

		.toggleButton{
			float: left;
			border: 1px solid white;
			border-right: none;
			padding: 4px;
		}

		#html{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		#output{
			border-right: 1px solid white;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.active{
			background-color: #00AFB0;
		}

		.highlightButton{
			background-color: #004D4D;
		}

		textArea{
			resize: none;
			border-top: none;
			color: black;
		}

		.pannel{
			width: 50%;
			float:  left;
		}

		iframe{
			border: none;
		}

		.hidden{
			display: none;
		}
	</style>